body {
	font-family: 'Crimson Text', serif;
}

#title {
	border-bottom: 1px solid black;
	width: 80%;
	margin-top: 3em;
}

.comic-thumbnail {
	width: 300px;
	max-width: 60%;
	margin-top: 40px;
}

#contact-email {
	margin-top: 4rem;
	font-size: 1em
}

a {
	outline: 0;
}

@media screen and (min-width: 600px) {

	#contact-email {
		font-size: 2em
	}
}

@media screen and (min-width :1300px) {

	#title {
		width: 50%;
		margin-bottom: 100px;
	}

	#contact-email {
		margin-top:10rem;
	}
}