#title {
	font-family: 'Gabriola';
	font-size: 2em;
	border-bottom: 1px solid black;
	width: 80%;
	margin-top: 1em;
}

.comic-thumbnail {
	width: 80%;
	max-width: 300px;
}

.comic-thumbnail{
	margin-top: 40px;
}

#contact-email{
	margin-top:4em;
}

a {
	outline: 0;
}

@media screen and (min-width: 600px) {
	#title {
		font-size: 4em;
	}
}

@media screen and (min-width :1300px) {

	#title {
		font-family: 'Gabriola';
		font-size: 100px;
		border-bottom: 1px solid black;
		width: 50%;
		margin-top: 1em;
		margin-bottom: 100px;
	}

	.comic-thumbnail {
		width: 300px;
	}

	#contact-email{
		margin-top:10em;
		font-family: 'Gabriola';
		font-size: 25px;
	}
}