img
{
	width:100%;
} 

body
{
	background: #000;
}

a:hover,a:active,a:focus
{
	outline:0;
	border:none;
}

@media screen and (min-width : 1200px)
{
	img
	{
		max-width: 500px;
	}
}



